<EditForm Model="Articulo" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            Artículos
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Nombre:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Articulo.Nombre" />
                        <ValidationMessage For="@(() => Articulo.Nombre)" />
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Marca:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Articulo.Marca" />
                        <ValidationMessage For="@(() => Articulo.Marca)" />
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Precio Compra:</label>
                    <div class=" input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">C$</span>
                        </div>
                        <InputNumber class="form-control" @bind-Value="@Articulo.PrecioCompra" />
                        <ValidationMessage For="@(() => Articulo.PrecioCompra)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Precio Venta:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">C$</span>
                        </div>
                        <InputNumber class="form-control" @bind-Value="@Articulo.PrecioVenta"  />
                        <ValidationMessage For="@(() => Articulo.PrecioVenta)" />
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label>Descripción:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Articulo.Descripcion" />
                        <ValidationMessage For="@(() => Articulo.Descripcion)" />
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label>Código:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Articulo.Codigo" />
                        <ValidationMessage For="@(() => Articulo.Codigo)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <button class="btn btn-success" type="submit">Guardar Cambios</button>
                    <a href="articulos" class="btn btn-success">Cancelar</a>
                    <MudTooltip Text="Desactiva o Reactiva un Registro."
                                Color="Color.Secondary" Placement="Placement.Top">
                        <InputCheckbox @bind-Value="@Articulo.Estado"></InputCheckbox>
                        <label><b>Dar De Baja</b></label>
                    </MudTooltip>
                </div>
            </div>
        </div>
    </div>
 
</EditForm>

@code {
    [Parameter] public Articulo Articulo { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
