@page "/articulos"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes

<h3>Artículos</h3>

<div class="form-group">
    <a class="btn btn-info" href="articulos/crear">Agregar artículo</a>
</div>

<ListadoGenerico Listado="Articulos">
    <HayRegistrosCompleto>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Precio Compra</th>
                    <th>Precio Venta</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Articulos)
                {
                <tr>
                    <td>
                        <a href="/articulos/editar/@item.Id" class="btn btn-success">Editar</a>
                        <button @onclick="@(() => BorrarArticulo(item))" class="btn btn-danger">Borrar</button>
                    </td>
                    <td>@item.Nombre</td>
                    <td>@item.Marca</td>
                    <td>@item.PrecioCompra</td>
                    <td>@item.PrecioVenta</td>
                </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>
@*Paginaccion*@
<Paginaciones PaginaActual="paginaActual" PaginaSeleccionada="paginaSeleccionada"
            PaginasTotales="paginasTotales"></Paginaciones>


@code {
    //Paginacion
    private int paginaActual = 1;
    private int paginasTotales;

    public List<Articulo> Articulos { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }
    //Paginacion
    private async Task paginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(pagina);
    }
    private async Task Cargar(int pagina = 1)
    {
        var responseHttp = await repositorio.Get<List<Articulo>>($"api/articulos?pagina={pagina}");
        if (!responseHttp.Error)
        {
            Articulos = responseHttp.Response;
            var conteo = responseHttp.HttpResponseMessage.Headers.GetValues("conteo").FirstOrDefault();
            paginasTotales = int.Parse(responseHttp.HttpResponseMessage.Headers.GetValues("totalPaginas").FirstOrDefault());
        }
    }

    private async Task Cargar()
    {
        var responseHttp = await repositorio.Get<List<Articulo>>("api/articulos");
        Articulos = responseHttp.Response;
    }

    private async Task BorrarArticulo(Articulo articulo)
    {
        var responseHttp = await repositorio.Delete($"api/articulos/{articulo.Id}");
        if (responseHttp.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
        }
        else
        {
            await Cargar();
        }

    }
}