@page "/Registro"

@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject IMostrarMensajes mostrarMensajes

@using TallerEnrique.Client.Auth

@*<h3>Registro</h3>*@

<EditForm Model="@userInfo" OnValidSubmit="CrearUsuario">
    <DataAnnotationsValidator />
    <div class="text-center">

        <div class="p-5 bg-image" style="background-image: url('https://mdbootstrap.com/img/new/textures/full/108.jpg');height: 300px;"></div>

        <div class="card mx-4 mx-md-5 shadow-5-strong" style="margin-top: -100px; background: hsla(0, 0%, 100%, 0.8);backdrop-filter: blur(30px);">
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bold mb-5">Registrarse ahora</h2>
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <InputText class="form-control" @bind-Value="@userInfo.UserName" />
                                        <ValidationMessage For="@(() => userInfo.UserName)" />
                                        <label class="form-label" for="form3Example1">Primer Nombre</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <InputText class="form-control" @bind-Value="@userInfo.UserLastName" />
                                        <ValidationMessage For="@(() => userInfo.UserLastName)" />
                                        <label class="form-label" for="form3Example2">Primer apellido</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                @*<InputText id="form3Example3" Class="form-control" @bind-Value="@userInfo.Email" />*@
                                <InputText Class="form-control" @bind-Value="@userInfo.Email" />
                                <ValidationMessage For="@(() => userInfo.Email)" />
                                <label class="form-label" for="form3Example3">Email </label>
                            </div>

                            <div class="form-outline mb-4">
                                @*<InputPassword id="form3Example4" Class="form-control" @bind-value="@userInfo.Password" />*@
                                <InputPassword Class="form-control" @bind-Value="@userInfo.Password" />
                                <ValidationMessage For="@(() => userInfo.Password)" />
                                <label class="form-label" for="form3Example4">Contraseña</label>
                            </div>

                        </form>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary ">Registrarse</button>
            </div>
        </div>
        
    </div>
    
</EditForm>

@code {
    private UserInfo userInfo = new UserInfo();

    private async Task CrearUsuario()
    {
        var httpResponse = await repositorio.Post<UserInfo, UserToken>("api/cuentas/crear", userInfo);

        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            await loginService.Login(httpResponse.Response);
            navigationManager.NavigateTo("");
        }
    }
}
