@page "/servicios"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject HttpClient Http
@using System.Text.Json
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "admin")]

<div class="form-group">
    <a class="btn btn-info" href="servicios/crear">Agregar Servicio</a>
</div>

@if (Servicios == null)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
}
else if (Servicios.Count == 0)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <text>No se encontraron registros.</text>
    </div>
}
else
{
    <MudTable Items="@Servicios" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Servicio, bool>(FilterFunc1)"
              @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Servicios</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Buscar servicios..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="MudBlazor.Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>

            <MudTh Class="thead-dark">Nombre</MudTh>
            <MudTh>Descripción</MudTh>
            

            <MudTh>Acciones</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nombre categoría">@context.Categoria.Nombre</MudTd>
            <MudTd DataLabel="Descrioción">@context.Descripcion</MudTd>
            

            <MudTd>
                <MudTooltip Text="Editar Servicio."
                            Color="Color.Secondary" Placement="Placement.Top">
                    <MudFab Color="MudBlazor.Color.Error" StartIcon="@Icons.Material.Filled.Edit" Size="MudBlazor.Size.Small"
                            @onclick="@(() => NavigationManager.NavigateTo($"/servicios/editar/{context.Id}"))" />
                </MudTooltip>
            </MudTd>

        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}

@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private Servicio selectedItem1 = null;
    private string searchString1 = "";
    private string NombreArtFiltro = String.Empty; //filtros


    public List<Servicio> Servicios { get; set; }
    public List<Categoria> Categorias { get; set; } = new List<Categoria>();
    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }



    private async Task Cargar()
    {
        var httpResponse = await Http.GetAsync($"api/servicios/cargartodos");
        if (httpResponse.IsSuccessStatusCode)
        {
            var responseString = await httpResponse.Content.ReadAsStringAsync();
            Servicios = JsonSerializer.Deserialize<List<Servicio>>(responseString,
                new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
        }
        else
        {
            Console.WriteLine("error");
        }

    }

    private async Task BorrarServicio(Servicio servicio)
    {
        var responseHttp = await repositorio.Delete($"api/servicios/{servicio.Id}");
        if (responseHttp.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
        }
        else
        {
            await Cargar();
        }

    }
    ///Buscar por nombre
    private bool FilterFunc1(Servicio element) => FilterFunc(element, searchString1);

    private bool FilterFunc(Servicio element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Categoria.Nombre.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Descripcion.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        

        return false;
    }



}