<EditForm Model="Mecanico" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            Mecánicos
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Nombres:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Mecanico.Nombre" />
                        <ValidationMessage For="@(() => Mecanico.Nombre)" />
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Apellidos:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Mecanico.Apellido" />
                        <ValidationMessage For="@(() => Mecanico.Apellido)" />
                    </div>
                </div>


                <div class="form-group col-sm-4">
                    <label>Teléfono:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Mecanico.Telefono" />
                        <ValidationMessage For="@(() => Mecanico.Telefono)" />
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class="form-group col-sm-8">
                    <label>Dirección:</label>
                    <div>
                        <InputTextArea class="form-control" @bind-Value="@Mecanico.Direccion" />
                        <ValidationMessage For="@(() => Mecanico.Direccion)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-success" type="submit">Guardar Cambios</button>
                    <a href="mecanicos" class="btn btn-success">Cancelar</a>
                    <InputCheckbox @bind-Value="@Mecanico.Estado"></InputCheckbox>
                    <label>Dar De Baja</label>
                </div>
            </div>
        </div>
    </div>
  
</EditForm>

@code {
    [Parameter] public Mecanico Mecanico { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }//Para pasar eventos como parametro
}
