@page "/proveedores"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes

<h3>Proveedores</h3>

<div class="form-group">
    <a class="btn btn-info" href="proveedores/crear">Agregar Proveedor</a>
</div>

<ListadoGenerico Listado="Proveedores">
    <HayRegistrosCompleto>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>Nombre Empresa</th>
                    <th>Nombre Contácto</th>
                    <th>Dirección</th>
                    <th>Departamento</th>
                    <th>Ciudad</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Proveedores)
                {
                    <tr>
                        <td class="col-sm-2">
                            <a href="/proveedores/editar/@item.Id" class="btn btn-success">Editar</a>
                            <button @onclick="@(() => BorrarProveedor(item))" class="btn btn-danger">Borrar</button>
                        </td>
                        <td>@item.NombreEmpresa</td>
                        <td>@item.NombreContacto</td>
                        <td>@item.Direccion</td>
                        <td>@item.Departamento</td>
                        <td>@item.Ciudad</td>
                        <td>@item.Email</td>
                        <td>@item.Telefono</td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>

@*Paginaccion*@
<Paginaciones PaginaActual="paginaActual" PaginaSeleccionada="paginaSeleccionada"
            PaginasTotales="paginasTotales"></Paginaciones>

@code {
    //Paginacion
    private int paginaActual = 1;
    private int paginasTotales;

    //Paginacion
    private async Task paginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(pagina);
    }
    private async Task Cargar(int pagina = 1)
    {
        var responseHttp = await repositorio.Get<List<Proveedor>>($"api/proveedores?pagina={pagina}");
        if (!responseHttp.Error)
        {
            Proveedores = responseHttp.Response;
            var conteo = responseHttp.HttpResponseMessage.Headers.GetValues("conteo").FirstOrDefault();
            paginasTotales = int.Parse(responseHttp.HttpResponseMessage.Headers.GetValues("totalPaginas").FirstOrDefault());
        }
    }

    public List<Proveedor> Proveedores { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
        var responseHttp = await repositorio.Get<List<Proveedor>>("api/proveedores");
        Proveedores = responseHttp.Response;
    }

    private async Task BorrarProveedor(Proveedor proveedor)
    {
        var responseHttp = await repositorio.Delete($"api/proveedores/{proveedor.Id}");
        if (responseHttp.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
        }
        else
        {
            await Cargar();
        }

    }
}
