
@inject IRepositorio repositorio

<EditForm Model="Vehiculo" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            Vehiculos
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Marca:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Vehiculo.Marca" />
                        <ValidationMessage For="@(() => Vehiculo.Marca)" />
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Modelo:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Vehiculo.Modelo" />
                        <ValidationMessage For="@(() => Vehiculo.Modelo)" />
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Color:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Vehiculo.Color" />
                        <ValidationMessage For="@(() => Vehiculo.Color)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Placa:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Vehiculo.Placa" />
                        <ValidationMessage For="@(() => Vehiculo.Placa)" />
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Fecha de Entrada</label>
                    <div>
                        <InputDate class="form-control" @bind-Value="@Vehiculo.FechaEntrada"></InputDate>
                        <ValidationMessage For="@(() => Vehiculo.FechaEntrada)"></ValidationMessage>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Fecha de Salida:</label>
                    <div>
                        <InputDate class="form-control" @bind-Value="@Vehiculo.FechaSalida" />
                        <ValidationMessage For="@(() => Vehiculo.FechaSalida)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Cliente:</label>
                    <div>
                        <InputSelectNumber class="form-control" @bind-Value="Vehiculo.ClienteId">
                            <option value="0">--Cliente--</option>
                            @foreach (var item in ClienteSeleccionados)
                            {
                                <option value="@item.Id">@item.Nombres @*&nbsp; @item.Descripcion*@</option>
                            }
                        </InputSelectNumber>
                        <ValidationMessage For="@(() => Vehiculo.ClienteId)" />
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label>Año del Auto:</label>
                    <div>
                        <InputNumber class="form-control" @bind-Value="@Vehiculo.YearCar" />
                        <ValidationMessage For="@(() => Vehiculo.YearCar)" />
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label>Kilometraje:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@Vehiculo.Kilometraje" />
                        <ValidationMessage For="@(() => Vehiculo.Kilometraje)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-success" type="submit">Guardar Cambios</button>
                    <a href="vehiculos" class="btn btn-success">Cancelar</a>
                    <InputCheckbox @bind-Value="@Vehiculo.Estado"></InputCheckbox>
                    <label>Dar De Baja</label>
                </div>
            </div>
        </div>
    </div>
</EditForm>



@code {


    [Parameter] public Vehiculo Vehiculo { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }//Para pasar eventos como parametro

    [Parameter] public List<Cliente> ClienteSeleccionados { get; set; } = new List<Cliente>();

    protected override async Task OnInitializedAsync()
    {
       
        await ObtenerClientes();
    }

    private async Task ObtenerClientes()
    {
        var httpResponse = await repositorio.Get<List<Cliente>>("api/clientes/cargartodos");
        ClienteSeleccionados = httpResponse.Response;
    }
}
