
@page "/vehiculos"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes

<h3>Vehiculos</h3>

<div class="form-group">
    <a class="btn btn-info" href="vehiculos/crear">Agregar Vehiculo</a>
</div>

<ListadoGenerico Listado="Vehiculos">
    <HayRegistrosCompleto>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Acción</th>
                    <th>Cliente</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Color</th>
                    <th>Año</th>
                    <th>Placa</th>
                    <th>Fecha de Entrada</th>
                    <th>Fecha de Salida</th>
                    <th>Kilometraje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Vehiculos)
                {
                    <tr>
                        <td class="col-sm-2">
                            <a href="/vehiculos/editar/@item.Id" class="btn btn-success">Editar</a>
                            <button @onclick="@(() => BorrarVehiculo(item))" class="btn btn-danger">Borrar</button>
                        </td>
                        <td>@item.Cliente.Nombres</td>
                        <td>@item.Marca</td>
                        <td>@item.Modelo</td>
                        <td>@item.Color</td>
                        <td>@item.YearCar</td>
                        <td>@item.Placa</td>
                        <td>@item.FechaEntrada.ToShortDateString()</td>
                        <td>@item.FechaSalida.ToShortDateString()</td>
                        <td>@item.Kilometraje</td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>

@*Paginaccion*@
<Paginaciones PaginaActual="paginaActual" PaginaSeleccionada="paginaSeleccionada"
              PaginasTotales="paginasTotales"></Paginaciones>

@code {
    //Paginacion
    private int paginaActual = 1;
    private int paginasTotales;

    public List<Vehiculo> Vehiculos { get; set; }
    public List<Cliente> Clientes { get; set; } = new List<Cliente>();

    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
        var responseHttp = await repositorio.Get<List<Vehiculo>>("api/vehiculos/cargartodos");
        Vehiculos = responseHttp.Response;
    }

    private async Task BorrarVehiculo(Vehiculo vehiculo)
    {
        var responseHttp = await repositorio.Delete($"api/vehiculos/{vehiculo.Id}");
        if (responseHttp.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
        }
        else
        {
            await Cargar();
        }

    }

    //Paginacion
    private async Task paginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(pagina);
    }
    private async Task Cargar(int pagina = 1)
    {
        var responseHttp = await repositorio.Get<List<Vehiculo>>($"api/vehiculos?pagina={pagina}");
        if (!responseHttp.Error)
        {
            Vehiculos = responseHttp.Response;
            var conteo = responseHttp.HttpResponseMessage.Headers.GetValues("conteo").FirstOrDefault();
            paginasTotales = int.Parse(responseHttp.HttpResponseMessage.Headers.GetValues("totalPaginas").FirstOrDefault());
        }
    }
}