
@page "/vehiculos/inactivos"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject HttpClient Http
@using System.Text.Json
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "admin")]


@if (Vehiculos == null)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
}
else if (Vehiculos.Count == 0)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <text>No se encontraron registros.</text>
    </div>
}
else
{
    <MudTable Items="@Vehiculos" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Vehiculo, bool>(FilterFunc1)"
              @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Vehiculos</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Buscar vehículo..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="MudBlazor.Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Cliente</MudTh>
            <MudTh Class="thead-dark">Marca</MudTh>
            <MudTh>Modelo</MudTh>
            <MudTh>Color</MudTh>
            <MudTh>Placa</MudTh>
            <MudTh>Año</MudTh>
            <MudTh>Kilometraje</MudTh>
            <MudTh>Fecha Entrada</MudTh>
            <MudTh>Fecha Salida</MudTh>
            <MudTh>Acciones</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Marca">@context.Cliente.Nombres</MudTd>
            <MudTd DataLabel="Marca">@context.Marca</MudTd>
            <MudTd DataLabel="modelo">@context.Modelo</MudTd>
            <MudTd DataLabel="Color">@context.Color</MudTd>
            <MudTd DataLabel="Placa">@context.Placa</MudTd>
            <MudTd DataLabel="Año">@context.YearCar</MudTd>
            <MudTd DataLabel="Kilometraje">@context.Kilometraje</MudTd>
            <MudTd DataLabel="Fecha Entrada">@context.FechaEntrada.ToShortDateString()</MudTd>
            <MudTd DataLabel="Fecha Salida">@context.FechaSalida.ToShortDateString()</MudTd>
            <MudTd>
                <MudTooltip Text="Editar Vehículo."
                            Color="Color.Secondary" Placement="Placement.Top">
                    <MudFab Color="MudBlazor.Color.Error" StartIcon="@Icons.Material.Filled.Edit" Size="MudBlazor.Size.Small"
                            @onclick="@(() => NavigationManager.NavigateTo($"/vehiculos/editar/{context.Id}"))" />
                </MudTooltip>
            </MudTd>

        </RowTemplate>
        <PagerContent>
            <MudTablePager RowsPerPageString="Filas por página" InfoFormat="@infoFormat"/>
        </PagerContent>
    </MudTable>
}

@code {
    private string infoFormat = "{first_item}-{last_item} de {all_items}";
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private Vehiculo selectedItem1 = null;
    private string searchString1 = "";
    private string NombreArtFiltro = String.Empty; //filtros


    public List<Vehiculo> Vehiculos { get; set; }
    public List<Cliente> Clientes { get; set; } = new List<Cliente>();

    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
        var httpResponse = await Http.GetAsync($"api/vehiculos/vehiculosinactivos");
        if (httpResponse.IsSuccessStatusCode)
        {
            var responseString = await httpResponse.Content.ReadAsStringAsync();
            Vehiculos = JsonSerializer.Deserialize<List<Vehiculo>>(responseString,
                new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
        }
        else
        {
            Console.WriteLine("error");
        }

    }

    private async Task BorrarVehiculo(Vehiculo vehiculo)
    {
        var responseHttp = await repositorio.Delete($"api/vehiculos/{vehiculo.Id}");
        if (responseHttp.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
        }
        else
        {
            await Cargar();
        }

    }


    ///Buscar por nombre
    private bool FilterFunc1(Vehiculo element) => FilterFunc(element, searchString1);

    private bool FilterFunc(Vehiculo element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Marca.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Modelo.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Color.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Placa.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.FechaEntrada.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.FechaSalida.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.YearCar.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Kilometraje.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }


}
