@page "/configuracions"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject HttpClient Http
@using System.Text.Json
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "admin")]


@*<div class="form-group">
    <a class="btn btn-info" href="configuracions/crear">Modificar Configuarción</a>
</div>*@

@if (Configuracions == null)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
}
else if (Configuracions.Count == 0)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <text>No se encontraron registros.</text>
    </div>
}
else
{
    <MudTable Items="@Configuracions" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Configuracion, bool>(FilterFunc1)"
              @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6"> Información Empresa</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Buscar ..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="MudBlazor.Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>

            <MudTh Class="thead-dark">Enabezado</MudTh>
            <MudTh>Nombre</MudTh>
            <MudTh>Descripción</MudTh>
            <MudTh>Dirección</MudTh>
            <MudTh>Teléfono</MudTh>
            <MudTh>Acciones</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nombra">@context.Encabezado</MudTd>
            <MudTd DataLabel="Marca">@context.NombreNegocio</MudTd>
            <MudTd DataLabel="Nombra">@context.DescripcionServicios</MudTd>
            <MudTd DataLabel="Marca">@context.Direccion</MudTd>
            <MudTd DataLabel="Marca">@context.Telefono</MudTd>
            <MudTd Class="col-2">
                <MudTooltip Text="Editar Datos del Taller."
                            Color="Color.Secondary" Placement="Placement.Top">
                    <MudFab Color="MudBlazor.Color.Error" StartIcon="@Icons.Material.Filled.Edit" Size="MudBlazor.Size.Small"
                            @onclick="@(() => NavigationManager.NavigateTo($"/configuracions/editar/{context.Id}"))" />
                </MudTooltip>
            </MudTd>

        </RowTemplate>
        <PagerContent>
            <MudTablePager RowsPerPageString="Filas por página" InfoFormat="@infoFormat"/>
        </PagerContent>
    </MudTable>
}

@code {
    private string infoFormat = "{first_item}-{last_item} de {all_items}";
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private Configuracion selectedItem1 = null;
    private string searchString1 = "";
    private string NombreArtFiltro = String.Empty; //filtros


    public List<Configuracion> Configuracions { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
        var httpResponse = await Http.GetAsync($"api/configuracions");
        if (httpResponse.IsSuccessStatusCode)
        {
            var responseString = await httpResponse.Content.ReadAsStringAsync();
            Configuracions = JsonSerializer.Deserialize<List<Configuracion>>(responseString,
                new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
        }
        else
        {
            Console.WriteLine("error");
        }

    }

    private async Task BorrarConfiguracion(Configuracion configuracion)
    {
        var responseHttp = await repositorio.Delete($"api/configuracions/{configuracion.Id}");
        if (responseHttp.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
        }
        else
        {
            await Cargar();
        }

    }

    ///Buscar por nombre
    private bool FilterFunc1(Configuracion element) => FilterFunc(element, searchString1);

    private bool FilterFunc(Configuracion element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Encabezado.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.NombreNegocio.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.DescripcionServicios.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Direccion.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Telefono.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }


}
